.menu{
    background-color: #27303a;
    font-size: 1.5em;
    color:white;
    margin:auto;
}

.mr-auto .link{
    color: #909090;
    padding-top: 5px;
}
.mr-auto .link:hover{
    color: gainsboro;
    text-decoration: none;
    
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.mr-auto{
    justify-content: space-around;
    width: 100%;
    font-size: 1.5em;
}
@media screen and (min-width: 500px) and (max-width: 700px) {
    .mr-auto{

        font-size: 1.2em;
    }
}
@media screen and (max-width: 500px) {
    .mr-auto{

        font-size: 1em;
    }
}
img{
    width: 50px;
    border-radius: 5px;
}
/*
#corps {
    height: calc(100% - 160px);
}*/
.buttonMacademia{
    height: 60px;
    width: 200px;
    margin-top: 20px;
    background: linear-gradient(45deg,#ff4b82 0,#ef8f5f 100%);
    border:none !important;
}
#main{
    height: 100%;
    width: 100%;

}
/* width */
#main::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #f2f5f8;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #e4e7ea;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #e4e7ea;
}

.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-clip-path: polygon(72% 74%, 100% 27%, 100% 100%, 5% 100%);
    clip-path: polygon(72% 74%, 100% 27%, 100% 100%, 5% 100%);
    z-index: -1;
    background-color: #ff4b82;
}

.carousel {
 position:absolute!important;
}
.carousel-indicators li{
    background-color: #616064!important;
}







