.login{
  margin: auto;
 width: 30%;
  border-left: 5px solid #ff4b82 ;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
 background-color: lightgrey;
 padding: 30px;
 border-radius: 5px ;
}

.section{
 margin-bottom: 30px;
}

.error-message {
 color: #c3002f;
 margin-bottom: 1em;
 height: 1.5em;
 font-size: .8em;
 text-align: left;
}

FormGroup{
 margin-bottom: 0px;
}

.form-group.row {
 margin-bottom: 0rem;
}

.loading {
 position: fixed;
 z-index: 999;
 height: 80px;
 width: 80px;
 overflow: visible;
 margin: auto;
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
}
